.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    z-index: 9999;
    align-items: start;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    padding-top: 10vh;
    width: 100%;
}

.logo-container .logo:first-child {
    position: absolute;
    z-index: 1;
}

.logo-container .logo:nth-child(2) {
    position: absolute;
    z-index: 2;
}

.logo-container img {
    width: 20vw;
}

.logo-container h1 {
    color: #fff;
    font-family: "baskerville";
    font-size: xxx-large;
    font-style: italic;
    margin-top: 60vh;
    text-transform: lowercase;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .logo-container h1 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #fff;
        font-family: "baskerville";
        font-size: xxx-large;
        font-style: italic;
        margin-top: 0;
        text-transform: lowercase;
    }

    .logo-container .logo:first-child {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        margin-right: 1rem;
        margin-bottom: 5rem;
        z-index: 1;
    }
    
    .logo-container .logo:nth-child(2) {
        position: absolute;
        bottom: 1.1rem;
        right: 0.9rem;
        margin-right: 1rem;
        margin-bottom: 5rem;
        z-index: 2;
    }
}