#home-page .dinner-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20vw;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    font-family: "baskerville";
    font-style: italic;
    color: #fff;
    opacity: 0;
}

#home-page .dinner-menu-container ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

#home-page .dinner-menu-container ul h1,
#home-page .dinner-menu-container ul h2,
#home-page .dinner-menu-container ul h3 {
    font-size: 1.5em;
    margin: 0;
}

#home-page .dinner-menu-container ul a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}

#home-page .dinner-menu-container ul a:hover {
    text-shadow: rgb(168, 238, 246) 0px 0px 10px;
    
}

#home-page .dinner-menu-container ul h1 {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
}

#home-page .dinner-menu-container ul h1:hover {
    text-shadow: rgb(168, 238, 246) 0px 0px 10px;
}

#home-page .dinner-menu-container .navigation {
    position: relative;
    z-index: 999;
}

.nav-toggle {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
    #home-page .dinner-menu-container {
        margin-left: 0;
        justify-content: flex-start;
    }
}